<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minecraft Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-secondary text-info">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="{{ url_for('main.index') }}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        {% if not current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('auth.login') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Login</span> </a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        {% if '_otp_verified' in session and session['_otp_verified'] is true %}
                        <li>
                            <a href="{{ url_for('container.containers') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Containers</span> </a>
                        </li>
                        <li>
                            <a href="{{ url_for('new.newserver') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-bricks"></i> <span class="ms-1 d-none d-sm-inline">New Server</span> </a>
                        </li>
                        <li>
                            <a href="{{ url_for('minecraft.minecrafts') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-box"></i> <span class="ms-1 d-none d-sm-inline">Minecrafts</span> </a>
                        </li>
                        <li>
                            <a href="{{ url_for('advanced.advance') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-box"></i> <span class="ms-1 d-none d-sm-inline">Advanced</span> </a>
                        </li>
                        {% if 'useradmin' in session and session['useradmin'] is true %}
                        <li>
                            <a href="{{ url_for('user.users') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li>
                            <a href="{{ url_for('profile.profilepage') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-person"></i> <span class="ms-1 d-none d-sm-inline">Profile</span> </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-power"></i> <span class="ms-1 d-none d-sm-inline">Logout</span></a>
                        </li>
                        {% endif %}
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3">
              <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category != 'message' %}
                <div class="alert alert-{{ category }}" role="alert">
                  <div class="row">
                    <div class='col'>
                    </div>
                    <div class='col text-center'>
                      {{ message }}
                    </div>
                    <div class='col text-end'>
                      <button type="button" class="btn-close" data-dismiss="alert" id="alertclose"></button>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
              </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Conformation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form id="formdelete" method="POST"><button type="submit" class="btn btn-danger">Delete</button>
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="logsModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="logsModalLabel">Container Logs</h5>
                  <button type="button" id="logsModalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10 offset-md-1 bg-dark overflow-auto" style="max-height: 400px;">
                        <code>
                          <pre id="output"></pre>
                        </code>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="logsModalClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center" id="waitModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="waitModalLabel">Please Wait</h5>
                </div>
                <div class="modal-body">
                  <img src="/static/giphy.gif" height="300">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js" integrity="sha256-9MzwK2kJKBmsJFdccXoIDDtsbWFh8bjYK/C7UjB1Ay0=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/mcshop.js') }}"></script>
</body>

</html>
