{% extends "base.html" %}

{% block content %}
<h1 class="title text-center">
  Minecraft Instances
</h1>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <h4 class="text-center">
          Disk Usage: {{ '%0.2f'| format(stat['used']/1024/1024/1024) }} GB / {{ '%0.2f'| format(stat['total']/1024/1024/1024) }} GB
          ({{ '%0.2f'| format(stat['used'] / stat['total'] * 100) }}%)
        </h4>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1">
          {{ allminecrafts|safe }}
        </div>
    </div>
</div>
{% endblock %}
