{% extends "base.html" %}

{% block content %}
<h1 class="title text-center">
  New Minecraft Instance
</h1>
<div class="container text-dark">
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded">
      <h4>Version</h4>
      <select id="version" name="version">
        {% for item in mc_versions['versions'] %}
          <option value="{{ item['id'] }}">{{ item['id'] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <h4>Server Runner</h4>
      <select id="serverrunner" name="serverrunner">
        <option value="amazoncorretto:16">amazoncorretto:16</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <h4>Game Mode</h4>
      <select id="gamemode" name="gamemode">
        <option value="survival">survival</option>
        <option value="creative">creative</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <h4>Port</h4>
      <select id="port" name="port">
        <option value="25565">25565</option>
        <option value="12345">12345</option>
        <option value="54321">54321</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <h4>Ops</h4>
      <input type="text" id="opnamesearch">
      <button id="opsearch" class="btn btn-primary btn-sm">Search</button>
      <div id="opsearchstatus" class="pt-2"></div>
      <select id="opusers" class="form-select" size="6" multiple>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <h4>Whitelist</h4>
      <input type="text" id="whitelistnamesearch">
      <button id="whitelistsearch" class="btn btn-primary btn-sm">Search</button>
      <div id="whitelistsearchstatus" class="pt-2"></div>
      <select id="whitelistusers" class="form-select" size="6" multiple>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 p-3 bg-light border rounded g-1">
      <div class="pb-1">
        <h4>Server Name</h4>
        <input type="text" id="servername" name="servername">
        <div id="servername_info" class="pt-1">
          <p><small>Server Name must start with a letter or number, must be at least one character and can only contain letters, numbers, -, and _.</small></p>
        </div>
      </div>
      <button id="create" disabled="True" class="btn btn-primary">Create New Server</button>
      <div id="createstatus" class="pt-1"></div>
    </div>
  </div>
</div>

{% endblock %}
